flows.json
[{"id":"359278c2.648578","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"bffa0a91.453748","type":"ibmiot out","z":"359278c2.648578","authentication":"apiKey","apiKey":"83d531ba.8f595","outputType":"cmd","deviceId":"123456","deviceType":"raspberrypi","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":480,"y":460,"wires":[]},{"id":"3b8f448e.e0a56c","type":"http in","z":"359278c2.648578","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":130,"y":380,"wires":[["c93d874.0752c78"]]},{"id":"c93d874.0752c78","type":"function","z":"359278c2.648578","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":380,"wires":[["bffa0a91.453748","b1f23b5a.ee7b98","1d935516.aa5a8b"]]},{"id":"b1f23b5a.ee7b98","type":"http response","z":"359278c2.648578","name":"","statusCode":"","headers":{},"x":480,"y":380,"wires":[]},{"id":"1d935516.aa5a8b","type":"debug","z":"359278c2.648578","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":480,"y":320,"wires":[]},{"id":"98a27c0.69d3088","type":"http in","z":"359278c2.648578","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":70,"y":180,"wires":[["36f79f19.98f"]]},{"id":"36f79f19.98f","type":"http request","z":"359278c2.648578","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://b83321b7-0675-4ce1-8ebf-acc367bd5d06-bluemix.cloudant.com/sample/_all_docs?include_docs=true&descending=true&limit=1","tls":"","persist":false,"proxy":"","authType":"basic","x":230,"y":100,"wires":[["798a4c8e.764ce4"]]},{"id":"798a4c8e.764ce4","type":"function","z":"359278c2.648578","name":"","func":"msg.payload=msg.payload.rows[0].doc.link\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":100,"wires":[["d978795e.305458"]]},{"id":"d978795e.305458","type":"http response","z":"359278c2.648578","name":"","statusCode":"","headers":{},"x":530,"y":200,"wires":[]},{"id":"83d531ba.8f595","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false}]